.center{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 748px;
    background-color: black
}

.text-center{
    height: 200px;
    width: 400px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 30px;
    background-color: white;
}